#canvas-all-screens {
  border: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

canvas {
  border:5px solid #000000;
  background-image: url("../images/background.png");
  padding: 0;
  margin: auto;
  display: none;
}

#intro {
  outline: none;
  border:5px solid #091611;
  background-color: #004F5C;
  color: white;
  font-size: 24px;
  height: 550px;
  width: 800px;
  display: inline-grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#combo {
  height: 50px;
  width: auto;
  position: absolute;
  top: 20px;
  left: 490px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#pause {
  border:5px solid #ffffff;
  background-color: #0000007a;
  color: white;
  font-size: 25px;
  height: 550px;
  width: 800px;
  position: absolute;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#end {
  border:5px solid #091611;
  background-color: #004F5C;
  color: white;
  font-size: 20px;  
  height: 550px;
  width: 800px;
  margin: auto;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn{
  background-color:#004F5C;
  width: 200px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  margin: auto;
  font-family: Special Elite;
  text-align: center;
  font-size: 18px;
}

.btn:hover {
  background-color: #10B3C6; /* Green */
  color: white;
  border: 2px solid white
}

p{
  text-align: center;
  font-family: 'Special Elite', cursive;
}
