body{
border: 6px;
}

canvas {
  border:5px solid #95f8cf;
  background-color: #bb0000;
  /* background-color: #6efe42; */
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p{
  text-align: center;
  font-family: 'Special Elite', cursive;
}

button{
  /* alig */
}